[my-project-release]
branch = master
project = gitlab-project-name
mail = 1
mail.info[] = "Released!"
mail.info[] = "URL: http://example.com/"
repository = "git@gitlab.example.com:my-project.git"
commands[] = "./my-test.sh"
commands[] = "ssh user@remote.host 'cd public_html/my-project; git pull'"

[my-project-dev]
branch = develop
project = gitlab-project-name
mail = 1
mail.info = "develop version"
issues.url = "http://redmine.localhost/issues"
repository = "git@gitlab.example.com:my-project.git"
commands[] = "./my-test.sh"
