[my-project-release]
branch = master
project = gitlab-project-name
mail = 1
repository = "git@gitlab.example.com:my-project.git"
commands[] = "ssh user@remote.host 'cd public_html/my-project; git pull'"

[my-project-dev]
branch = develop
project = gitlab-project-name
mail = 1
repository = "git@gitlab.example.com:my-project.git"
commands[] = "./my-test.sh"
